name: Release Image to Container registry

on:
  workflow_call:
    inputs:
      volto-version:
        required: true
        type: string
      image-name:
        required: true
        type: string
      dockerfile:
        required: true
        type: string
      platforms:
        required: true
        type: string
      is-latest:
        required: false
        type: boolean
        default: false
    secrets:
      registry-username:
        required: true
      registry-password:
        required: true

jobs:

  release:
    runs-on: [self-hosted, ARM64, stable]
    environment: DOCKER_HUB
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            ${{ inputs.image-name }}
          flavor: |
            latest=false
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=pep440,pattern={{version}},value=${{ inputs.volto-version }}
            type=pep440,pattern={{major}}.{{minor}}.{{patch}},value=${{ inputs.volto-version }}
            type=pep440,pattern={{major}}.{{minor}},value=${{ inputs.volto-version }}
            type=pep440,pattern={{major}},value=${{ inputs.volto-version }}
            type=sha
            type=raw,value=latest,enable=${{ inputs.is-latest }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Registry
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.registry-username }}
          password: ${{ secrets.registry-password }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          platforms: ${{ inputs.platforms }}
          context: .
          file: ${{ inputs.dockerfile }}
          build-args: |
            VOLTO_VERSION=${{ inputs.volto-version }}
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
